<!-- SERAPARAMOS O HEAH EM UNICO ARQUIVO -->
<!-- vamos chamar o aquivo head criado  -->

<%- include('includes/head')%>
  <section class="containerInicial">
    
    <div class="container1">
      <h1>Tabuada</h1>
      <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <select name="num1">
          <option value="0">Selecione um número</option>
          <option value="1">Tabuada de 1</option>
          <option value="2">Tabuada de 2</option>
          <option value="3">Tabuada de 3</option>
          <option value="4">Tabuada de 4</option>
          <option value="5">Tabuada de 5</option>
          <option value="6">Tabuada de 6</option>
          <option value="7">Tabuada de 7</option>
          <option value="8">Tabuada de 8</option>
          <option value="9">Tabuada de 9</option>
          <option value="10">Tabuada de 10</option>
        </select>
        <h3>
          <div class="saida">
            <%- soma %>
          </div>
        </h3>
        <button>Ok</button>
      </form>
    </div>
  </section>

  <%- include('includes/footer')%>